<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="Account 1">
    <setting id="account1_enabled" type="bool" label="Enable Account 1" default="true"/>
    <setting id="account1_name" type="text" label="Display Name" default="TorBox Account 1"/>
    <setting id="account1_url" type="text" label="WebDAV URL" default="https://webdav.torbox.app"/>
    <setting id="account1_username" type="text" label="Username" default=""/>
    <setting id="account1_password" type="text" label="Password" option="hidden" default=""/>
  </category>
  <category label="Account 2">
    <setting id="account2_enabled" type="bool" label="Enable Account 2" default="false"/>
    <setting id="account2_name" type="text" label="Display Name" default="TorBox Account 2"/>
    <setting id="account2_url" type="text" label="WebDAV URL" default="https://webdav.torbox.app"/>
    <setting id="account2_username" type="text" label="Username" default=""/>
    <setting id="account2_password" type="text" label="Password" option="hidden" default=""/>
  </category>
  <category label="Account 3">
    <setting id="account3_enabled" type="bool" label="Enable Account 3" default="false"/>
    <setting id="account3_name" type="text" label="Display Name" default="TorBox Account 3"/>
    <setting id="account3_url" type="text" label="WebDAV URL" default="https://webdav.torbox.app"/>
    <setting id="account3_username" type="text" label="Username" default=""/>
    <setting id="account3_password" type="text" label="Password" option="hidden" default=""/>
  </category>
  <category label="Library">
    <setting id="library_enabled" type="bool" label="Enable library integration" default="true"/>
    <setting id="library_scraper" type="enum" label="Metadata scraper" values="TheMovieDB|TheTVDB" default="0"/>
    <setting id="library_path" type="folder" label="Library Export Folder" default="special://profile/addon_data/plugin.video.torbox/library/" />
    <setting id="library_source_created" type="bool" label="Is library created" default="false"/>
    <setting id="library_overrides_path" type="text" label="Library Overrides Path" default="https://raw.githubusercontent.com/djrenzo/EPG/main/overrides.json"/>
  </category>
  <category label="Playback">
    <setting id="stream_verify_ssl" type="bool" label="Verify SSL certificates" default="true"/>
    <setting id="show_hidden" type="bool" label="Show hidden files" default="false"/>
  </category>
  <category label="Providers">
    <setting id="aiostreams_url" type="text" label="AIOStreams URL Template" default="https://aiostreams.elfhosted.com/stremio/75fc1abd-abf5-44e7-9d21-92ced9d69aa1/eyJpIjoiWlRlOTYrZW1BRWRhYktKM3JsM1JZUT09IiwiZSI6IlVmdkVSU2pES0dZR2tDbExqWVBVZlpoQm5memJVSGZtVFhBL2JzUEh2VkU9IiwidCI6ImEifQ/stream/{media_type}/{imdb_id}.json"/>
    <setting id="tmdb_key" type="text" label="TMDB Bearer Token" option="hidden" default="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMDUxYjA5Nzc5Y2JiNDI1NjUyMmNhYjQzZTE4YzY1NSIsIm5iZiI6MTc3NTIzNzAxMC43NDg5OTk4LCJzdWIiOiI2OWNmZjc5Mjg4ZjBhMDQ1NDRkMjk4N2YiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.igCod8FKscZMklnvK9oiyfFMjy0Eyym50sGrj0knX4c"/>
    <setting id="wyzie_key" type="text" label="Wyzie API Key" option="hidden" default="wyzie-gvo9qomam6re1xxww2krz89m7f0ww4ax"/>
  </category>
</settings>
