<?xml version="1.0" encoding="UTF-8"?>
<settings version="3">

  <section id="account1" label="Account 1">
    <category id="account1" label="Account 1">
      <group id="1">
        <setting id="account1_enabled" type="boolean">
          <label>Enable Account 1</label>
          <default>true</default>
        </setting>
        <setting id="account1_name" type="string">
          <label>Display Name</label>
          <default>TorBox Account 1</default>
          <enable>eq(-1,true)</enable>
        </setting>
        <setting id="account1_url" type="string">
          <label>WebDAV URL</label>
          <default>https://webdav.torbox.app</default>
          <enable>eq(-2,true)</enable>
        </setting>
        <setting id="account1_username" type="string">
          <label>Username</label>
          <default></default>
          <enable>eq(-3,true)</enable>
        </setting>
        <setting id="account1_password" type="string">
          <label>Password</label>
          <default></default>
          <control type="button" format="string" hidden="true"/>
          <enable>eq(-4,true)</enable>
        </setting>
      </group>
    </category>
  </section>

  <section id="account2" label="Account 2">
    <category id="account2" label="Account 2">
      <group id="2">
        <setting id="account2_enabled" type="boolean">
          <label>Enable Account 2</label>
          <default>false</default>
        </setting>
        <setting id="account2_name" type="string">
          <label>Display Name</label>
          <default>TorBox Account 2</default>
          <enable>eq(-1,true)</enable>
        </setting>
        <setting id="account2_url" type="string">
          <label>WebDAV URL</label>
          <default>https://webdav.torbox.app</default>
          <enable>eq(-2,true)</enable>
        </setting>
        <setting id="account2_username" type="string">
          <label>Username</label>
          <default></default>
          <enable>eq(-3,true)</enable>
        </setting>
        <setting id="account2_password" type="string">
          <label>Password</label>
          <default></default>
          <control type="button" format="string" hidden="true"/>
          <enable>eq(-4,true)</enable>
        </setting>
      </group>
    </category>
  </section>

  <section id="account3" label="Account 3">
    <category id="account3" label="Account 3">
      <group id="3">
        <setting id="account3_enabled" type="boolean">
          <label>Enable Account 3</label>
          <default>false</default>
        </setting>
        <setting id="account3_name" type="string">
          <label>Display Name</label>
          <default>TorBox Account 3</default>
          <enable>eq(-1,true)</enable>
        </setting>
        <setting id="account3_url" type="string">
          <label>WebDAV URL</label>
          <default>https://webdav.torbox.app</default>
          <enable>eq(-2,true)</enable>
        </setting>
        <setting id="account3_username" type="string">
          <label>Username</label>
          <default></default>
          <enable>eq(-3,true)</enable>
        </setting>
        <setting id="account3_password" type="string">
          <label>Password</label>
          <default></default>
          <control type="button" format="string" hidden="true"/>
          <enable>eq(-4,true)</enable>
        </setting>
      </group>
    </category>
  </section>

  <section id="library" label="Library">
    <category id="library" label="Library">
      <group id="4">
        <setting id="library_path" type="string">
          <label>Library Export Folder</label>
          <default>special://profile/addon_data/plugin.video.torbox/library/</default>
          <control type="button" format="path"/>
        </setting>
        <setting id="library_source_created" type="boolean">
          <label>Library source created</label>
          <default>false</default>
          <visible>false</visible>
        </setting>
      </group>
    </category>
  </section>

  <section id="playback" label="Playback">
    <category id="playback" label="Playback">
      <group id="5">
        <setting id="stream_verify_ssl" type="boolean">
          <label>Verify SSL certificates</label>
          <default>true</default>
        </setting>
        <setting id="show_hidden" type="boolean">
          <label>Show hidden files</label>
          <default>false</default>
        </setting>
      </group>
    </category>
  </section>

</settings>