<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="$ADDON[plugin.video.skipdb 32025]">
        <setting id="skip_offset" type="number" label="$ADDON[plugin.video.skipdb 32011]" default="2"/>
        <setting id="button_display_seconds" type="number" label="$ADDON[plugin.video.skipdb 32040]" default="0"/>
    </category>
    <category label="$ADDON[plugin.video.skipdb 32026]">
        <setting id="enable_intro" type="bool" label="$ADDON[plugin.video.skipdb 32006]" default="true"/>
        <setting id="auto_skip_intro" type="bool" label="$ADDON[plugin.video.skipdb 32036]" default="false"/>
        <setting id="enable_recap" type="bool" label="$ADDON[plugin.video.skipdb 32007]" default="true"/>
        <setting id="auto_skip_recap" type="bool" label="$ADDON[plugin.video.skipdb 32037]" default="false"/>
        <setting id="enable_credits" type="bool" label="$ADDON[plugin.video.skipdb 32008]" default="true"/>
        <setting id="auto_skip_credits" type="bool" label="$ADDON[plugin.video.skipdb 32038]" default="false"/>
        <setting id="enable_preview" type="bool" label="$ADDON[plugin.video.skipdb 32009]" default="true"/>
        <setting id="auto_skip_preview" type="bool" label="$ADDON[plugin.video.skipdb 32039]" default="false"/>
    </category>
    <category label="$ADDON[plugin.video.skipdb 32027]">
        <setting id="skipdb_enabled" type="bool" label="$ADDON[plugin.video.skipdb 32031]" default="true"/>
        <setting id="duration_adjust" type="enum" label="$ADDON[plugin.video.skipdb 32044]" lvalues="32052|32053|32054" default="0"/>
        <setting id="duration_adjust_note" type="text" label="$ADDON[plugin.video.skipdb 32045]" enable="false"/>
        <setting id="skipdb_api_key" type="text" label="$ADDON[plugin.video.skipdb 32032]" default=""/>
        <setting id="get_anonymous_key_now" type="bool" label="$ADDON[plugin.video.skipdb 32043]" default="false"/>
        <setting id="test_api_key_now" type="bool" label="$ADDON[plugin.video.skipdb 32041]" default="false"/>
        <setting id="test_api_key_note" type="text" label="$ADDON[plugin.video.skipdb 32042]" enable="false"/>
    </category>
    <category label="$ADDON[plugin.video.skipdb 32028]">
        <setting id="enable_submissions" type="bool" label="$ADDON[plugin.video.skipdb 32024]" default="false"/>
    </category>
    <category label="$ADDON[plugin.video.skipdb 32030]">
        <setting id="debug_logging" type="bool" label="$ADDON[plugin.video.skipdb 32034]" default="false"/>
        <setting id="debug_osd" type="bool" label="$ADDON[plugin.video.skipdb 32035]" default="false"/>
    </category>
</settings>
